#content {
  position: relative;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-out {
  transform: translateX(100%); /* Mueve la página actual a la derecha */
  opacity: 0; /* Hace que la página actual se desvanezca */
}

.slide-in {
  transform: translateX(-100%); /* Comienza la nueva página fuera de la vista, a la izquierda */
  opacity: 0; /* Hace que la nueva página sea invisible al principio */
  animation: slideIn 0.5s forwards ease-in-out; /* Define la animación para la nueva página */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%); /* Empieza desde la izquierda */
    opacity: 0; /* Empieza invisible */
  }
  to {
    transform: translateX(0); /* Termina en la posición original */
    opacity: 1; /* Termina visible */
  }
}
