

@layer
base
{
  :root
  {
    --color-primary: #ca0046;
    --color-primary-tras: #ca0046aa;
    --bg-color: #000;
    --bg-color2: #ca004633;
    --bg-color3: #ca004644;
    --bg-color4: linear-gradient(170deg, #ca0046, 95%, #000);
    --bg-color5: linear-gradient(290deg, #000, 80%, #cf0045);
  }
}

body
{
  padding: 0px;
  margin: 0px;
  background: var(--bg-color4);
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #345; /* Color del thumb */
}

.container
{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 270px 1fr;
  height: 100vh;
  grid-template-areas: "navigator main";
  /* font-weight: 600;
  font-size: 26px; */
}

.navigator-desktop
{
  grid-area: navigator;
}

.main-container
{
  grid-area: main;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 10px 20px 10px;
  z-index: 50;
}

.navigator-desktop
{
  z-index: 100;
}
