
.navigator-desktop
{
  position: relative;
  overflow: hidden;
  background: var(--bg-color5);
  border-radius: 0px 15px 15px 0px;
}

.cyber-content
{
  right: -30px;
  bottom: 200px;
  width: 200px;
  height: 40vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cyber-line
{
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #9065fc;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0);
  animation: flash 2s ease-out infinite;
  transform: rotate(310deg);
}

@keyframes flash {
    0%, 100% {
        box-shadow: 0 0 20px #ff004600;
    }
    50% {
        box-shadow: 0 0 20px #ff0046ff;
    }
}


.cyber-line:nth-child(odd) {
  background-color: var(--bg-color2);
}

.cyber-line:nth-child(even) {
  background-color: var(--bg-color3);
}

.cyber-line:nth-child(1)
{
  bottom: 90px;
  right: 130px;
}

.cyber-line:nth-child(2)
{
  top: 240px;
  right: 100px;
}

.cyber-line:nth-child(3)
{
  bottom: -70px;
  right: 50px;
}

.cyber-line:nth-child(4)
{
  bottom: 140px;
  right: 60px;
}

.cyber-line:nth-child(5)
{
  bottom: 170px;
  right: 0px;
}

.cyber-line:nth-child(6)
{
  bottom: 10px;
  right: 50px;
}

.cyber-line:nth-child(7)
{
  bottom: 10px;
  right: 180px;
}

.cyber-line:nth-child(8)
{
  top: 190px;
  right: 20px;
}

.cyber-line:nth-child(9)
{
  bottom: -30px;
  right:120px;
}

.cyber-line:nth-child(10)
{
  bottom: 0px;
  right: 0px;
}

.nav-photo
{
  /* background: #f00; */
  display: flex;
  justify-content: center;
  height: 25vh;
}

.nav-photo img
{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
  object-fit: cover;
  filter: brightness();
  width: 140px;
}

.nav-item-container
{
  display: flex;
  flex-direction: column;
  height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  /* background-color: #050; */
}

.nav-item
{
  color: white;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px 10px 8px 30px;
  /* background-color: #400; */
  display: flex;
  z-index: 100;
}

.nav-item:hover,
.nav-item button:hover
{
  cursor: pointer;
}

.nav-item:hover,
.nav-item.active
{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary-tras);

  border-top-left-radius: 0px;
  border-bottom-left-radius: 30px;

  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* border-radius: 30px 10px 10px 30px; */
}

.nav-item button
{
  margin-left: 20px;
  color: white;
  text-align: left;
  width: 100%;
  border: 0px;
  background-color: #0000;
  font-family: monospace;
}


.links-container
{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: #400; */
}

.link-item
{
  color: white;
  font-size: 18px;
  padding-left: 30px;
  display: flex;
}

.link-item a
{
  text-decoration: none;
  margin-left: 20px;
  color: white;
  text-align: left;
  border: 0px;
  background-color: #0000;
  font-family: monospace;
}
