
.navigator-desktop
{
  background: var(--bg-color5);
  border-radius: 0px 15px 15px 0px;
}

.nav-photo
{
  /* background: #f00; */
  display: flex;
  justify-content: center;
  height: 25vh;
}

.nav-photo img
{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100%;
  object-fit: cover;
  filter: brightness();
  width: 140px;
}

.nav-item-container
{
  display: flex;
  flex-direction: column;
  height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  /* background-color: #050; */
}

.nav-item
{
  color: white;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px 10px 8px 30px;
  /* background-color: #400; */
  display: flex;
  z-index: 100;
}

.nav-item:hover,
.nav-item button:hover
{
  cursor: pointer;
}

.nav-item:hover,
.nav-item.active
{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  background-color: #f00;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  /* border-radius: 30px 10px 10px 30px; */
}

.nav-item button
{
  margin-left: 20px;
  color: white;
  text-align: left;
  width: 100%;
  border: 0px;
  background-color: #0000;
  font-family: monospace;
}


.links-container
{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-item
{
  color: white;
  font-size: 18px;
  padding-left: 30px;
  display: flex;
}

.link-item a
{
  text-decoration: none;
  margin-left: 20px;
  color: white;
  text-align: left;
  border: 0px;
  background-color: #0000;
  font-family: monospace;
}
