
<div class="about-container">
  <div class="">
    <h1>Mi nombre completo es: Deynar Luis Calle Lazo</h1>
    <h2>( Desasrrollador Backend )</h2>
  </div>
  <!-- CONTENT PREFERENCES -->

  <div class="">
    <div class="">
      <hr>
        <h2>VIDEOJUEGOS</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Left Or Dead 2</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Warcraft III</h3>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <div class="">
      <hr>
        <h2>GUSTOS MUSICALES</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Aurora</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Imagine Dragons</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Fall Out Boy</h3>
      </div>
    </div>
  </div>
  <br>


  <div class="">
    <div class="">
      <hr>
        <h2>DEPORTES</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Futbol</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Natacion</h3>
      </div>
    </div>
  </div>
</div>
