
<div class="about-container">
  <div class="">
    <h1>Mi nombre completo es: Deynar Luis Calle Lazo</h1>
  </div>
  <!-- CONTENT PREFERENCES -->
  <div class="">
    <div class="">
      <h2> Desarrollo </h2>
    </div>

    <div class="">
      <div class="">
        <h3>PYTHON</h3>
        <div class="">
          <h4>Aplicaciones Web</h4>
          <p>
            Me encanta python para el desarrollo de aplicaciones
            web como con Django y Flask
          </p>

          <h4>Inteligencia artificial</h4>
          <p>
            Obiamente el desarrollo de de Inteligencia artificial tambien
            soy un pionero.
          </p>
        </div>
      </div>
    </div>



    <div class="">
      <div class="">
        <h3>JAVASCRIPT</h3>
        <div class="">
          <h4>Aplicaciones Web</h4>
          <p>
            Me encanta python para el desarrollo de aplicaciones
            web como con Django y Flask
          </p>

          <h4>Inteligencia artificial</h4>
          <p>
            Obiamente el desarrollo de de Inteligencia artificial tambien
            soy un pionero.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="">
    <div class="">
      <h2> Videojuegos </h2>
    </div>

    <div class="">
      <div class="">
        <h3>PYTHON</h3>
        <div class="">
          <h4>Aplicaciones Web</h4>
          <p>
            Me encanta python para el desarrollo de aplicaciones
            web como con Django y Flask
          </p>

          <h4>Inteligencia artificial</h4>
          <p>
            Obiamente el desarrollo de de Inteligencia artificial tambien
            soy un pionero.
          </p>
        </div>
      </div>
    </div>



    <div class="">
      <div class="">
        <h3>JAVASCRIPT</h3>
        <div class="">
          <h4>Aplicaciones Web</h4>
          <p>
            Me encanta python para el desarrollo de aplicaciones
            web como con Django y Flask
          </p>

          <h4>Inteligencia artificial</h4>
          <p>
            Obiamente el desarrollo de de Inteligencia artificial tambien
            soy un pionero.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
