<div class="nav-photo">
  <img src="../assets/imgs/foto.png" alt="Luis Calle Lazo" />
</div>

<div class="nav-item-container" id="nav-item-container"></div>

<div class="links-container">
  <div class="link-item">
    <i class="bi bi-github"></i>
    <a href="https://github.com/LuisCalleLazo" target="_blank">Github</a>
  </div>

  <div class="link-item">
    <i class="bi bi-linkedin"></i>
    <a
      href="https://www.linkedin.com/in/deynar-luis-calle-lazo-bb946025b/"
      target="_blank"
      >Linkedin</a
    >
  </div>

  <div class="link-item">
    <i class="bi bi-whatsapp"></i>
    <a href="https://wa.me/59178824516" target="_blank">Whatsapp</a>
  </div>
</div>
