<div class="projects-container">
  <div class="">
    <div class="">
      <hr>
        <h2>Participación en un Sistema contable (privado)</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Desarrollo de estados financieros</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Obtencion de las UFVs directamente del BCB</h3>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <div class="">
      <hr>
        <h2>Desarrollo de un Sistema de campus virtual (publico) - finalizado</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Desarrollo de reportes con graficas del progreso estudiantil</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Manejo de arquitectura MVC</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Uso de APIS REST</h3>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <div class="">
      <hr>
        <h2>Desarrollo de un LMS (privado)</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Manejo de reportes con graficas avanzadas</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Manejo de arquitectura de Microservicios</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Manejo de arquitectura de Cliente-Servidor</h3>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <div class="">
      <hr>
        <h2>Videojuego de carreras (publico) - en progreso</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Juego para poder jugar con amigos</h3>
      </div>
    </div>

    <div class="">
      <div class="">
        <h3>Mapa infinito con obstaculos</h3>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <div class="">
      <hr>
        <h2>Traductor de lenguaje de señas (privado)</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Manejo de algoritmos para poder interpretar con IA los movimientos de una persona</h3>
      </div>
    </div>
  </div>
  <br>
</div>
