<div class="tecnologies-container">


  <div class="">
    <div class="">
      <hr>
        <h2>Herramientas de Gestion de proyectos</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Jira</h3>
        <h3>Trello</h3>
        <h3>Notion</h3>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <div class="">
      <hr>
        <h2>Herramientas para diagramas de software</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>draw.io</h3>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <div class="">
      <hr>
        <h2>Servicios de infraestructura en la nube</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Digital Ocean</h3>
        <h3>Azure</h3>
        <h3>Atlantic.Net</h3>
        <h3>Namecheap</h3>
        <h3>Avancehost</h3>
        <h3>NIC</h3>
      </div>
    </div>
  </div>
  <br>


  <div class="">
    <div class="">
      <hr>
        <h2>Desarrollo Web - FrontEnd</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>React Js</h3>
        <h3>React Ts</h3>
      </div>
    </div>
  </div>
  <br>

  <div class="">
    <div class="">
      <hr>
        <h2>Desarrollo Web - BackEnd</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>ASP .NET Core</h3>
        <h3>.NET Framwork</h3>
        <h3>Django</h3>
        <h3>Flask</h3>
        <h3>Laravel</h3>
        <h3>Jasper Reports</h3>
      </div>
    </div>
  </div>
  <br>


  <div class="">
    <div class="">
      <hr>
        <h2>Desarrollo App Mobile</h2>
      <hr>
    </div>

    <div class="">
      <div class="">
        <h3>Flutter</h3>
        <h3>Kotlin</h3>
      </div>
    </div>
  </div>
  <br>


</div>
