

  <div class="nav-photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRztPw9JgCG2FtbG2Tcpek2OvZmNX7aYtZ03Q&s" alt="">
  </div>

  <div class="nav-item-container">

    <div class="nav-item" onclick="loadPage('views/home.html')">
      <i class="bi bi-house-door-fill"></i>
      <button name="button">
        Home
      </button>
    </div>

    <div class="nav-item" onclick="loadPage('views/about.html')">
      <i class="bi bi-file-person-fill"></i>
      <button name="button">
        Sobre mi
      </button>
    </div>

    <div class="nav-item" onclick="loadPage('views/projects.html')">
      <i class="bi bi-server"></i>
      <button name="button">
        Proyectos
      </button>
    </div>

  </div>
