

  <div class="nav-photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRztPw9JgCG2FtbG2Tcpek2OvZmNX7aYtZ03Q&s" alt="">
  </div>

  <div class="nav-item-container" id="nav-item-container">
  </div>

  <div class="links-container">
    
    <div class="link-item">
      <i class="bi bi-github"></i>
      <a href="https://github.com/LuisCalleLazo"> Github</a>
    </div>

    <div class="link-item">
      <i class="bi bi-linkedin"></i>
      <a href="https://github.com/LuisCalleLazo"> Linkedin</a>
    </div>


    <div class="link-item">
      <i class="bi bi-whatsapp"></i>
      <a href="https://github.com/LuisCalleLazo"> Whatsapp</a>
    </div>

    <!-- <div class="link-item">
      <i class="bi bi-facebook"></i>
      <a href="https://github.com/LuisCalleLazo"> Facebook</a>
    </div> -->

  </div>
